{
  "extends": "airbnb",
  "plugins": [
    "import"
  ],
  "rules": {
    "indent": [2, 4],
    "space-before-function-paren": [ 2, "never" ],
    "arrow-body-style": [ 2, "always" ],
  },
  "settings": {
    "import/core-modules": [
      "electron"
    ]
  }
}
